<div class="my-3 border-bottom-dotted">
  <div class="mb-3 row">
    <div class="col-12 col-lg-6" [formGroup]="searchForm">
      <div class="d-flex justify-content-between">
        <input class="form-control" type="text" formControlName="search" disabled placeholder="Search...">
        <button class="btn btn-outline-primary ml-3" type="button" (click)="selectProject()">Select</button>
      </div>
    </div>
    <div class="col-12 col-lg-6 justify-content-between mt-3 mt-lg-0">
      <label class="mr-3 mr-md-3 col-form-label">Sort Task By:</label>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary" (click)="setSortBy('startdate')">
          <input type="radio" name="options" autocomplete="off" checked> Start Date
        </label>
        <label class="btn btn-secondary" (click)="setSortBy('enddate')">
          <input type="radio" name="options" autocomplete="off"> End Date
        </label>
        <label class="btn btn-secondary" (click)="setSortBy('priority')">
          <input type="radio" name="options" autocomplete="off"> Priority
        </label>
        <label class="btn btn-secondary" (click)="setSortBy('completed')">
          <input type="radio" name="options" autocomplete="off"> Completed
        </label>
      </div>
    </div>
  </div>
</div>
<div *ngFor="let task of tasksToDisplay">
    <task-detail [task]="task" (refresh)="reloadTasks()"></task-detail>
</div>

