<div class="my-3 border-bottom-dotted">
  <div class="mb-3 row">
    <div class="col-12 col-md-4" [formGroup]="searchForm">
      <input class="form-control" type="text" formControlName="search" placeholder="Search...">
    </div>
    <div class="col-12 col-md-8 justify-content-between mt-3 mt-md-0">
      <label class="mr-3 mr-md-3 col-form-label">Sort:</label>
      <div class="btn-group btn-group-toggle" role="group" data-toggle="button">
        <button type="button" class="btn btn-outline-secondary active" (click)="setSortBy('firstname')">First Name</button>
        <button type="button" class="btn btn-outline-secondary" (click)="setSortBy('lastname')">Last Name</button>
        <button type="button" class="btn btn-outline-secondary" (click)="setSortBy('id')">Id</button>
      </div>
    </div>
  </div>
</div>
<div *ngFor="let user of usersToDisplay">
  <div class="my-3 border-bottom-dotted">
    <div class="row">
      <div class="col-md-8">
        <p><span class="font-weight-bold">First Name:</span> {{user.firstName}}</p>
        <p><span class="font-weight-bold">Last Name:</span> {{user.lastName}}</p>
        <p><span class="font-weight-bold">Employee ID:</span> {{user.employeeId}}</p>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
          <div class="mb-3">
            <button class="btn btn-primary mr-lg-3" (click)="edit(user)">Edit</button>
          </div>
          <div>
            <button class="btn btn-primary" (click)="delete(user.id)">Delete</button>
          </div>
      </div>
    </div>
  </div>
</div>
