<form [formGroup]="searchCriteriaForm">
  <div class="d-none d-md-block">
    <div class="row mb-3 ">
      <div class="col-md-6">
        <div class="form-row">
          <label class="col-form-label mr-3">Task:</label>
          <input type="text" class="form-control col" formControlName="taskName" id="taskName">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-row">
          <label class="col-form-label mr-3">Parent task:</label>
          <input type="text" class="form-control col" formControlName="parentTaskName" id="parentTaskName">
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <div class="form-row">
          <label class="col-form-label mr-3">Priority From:</label>
          <input type="number" class="form-control col" formControlName="priorityFrom" id="priorityFrom">
          <label class="col-form-label mr-3">Priority To:</label>
          <input type="number" class="form-control col" formControlName="priorityTo" id="priorityTo">
        </div>
      </div>
      <div class="col-md-6">
        <div class=" d-none d-lg-block">
          <div class="form-row">
            <label class="col-form-label mr-3">Start Date:</label>
            <input type="date" class="form-control col w-25" formControlName="startDate" id="startDate">
            <label class="col-form-label mr-3">End Date:</label>
            <input type="date" class="form-control col w-25" formControlName="endDate" id="endDate">
          </div>
        </div>
        <div class=" d-none d-md-block d-lg-none">
          <div class="form-row">
              <label class="col-form-label mr-3">Start Date:</label>
              <input type="date" class="form-control col w-25" formControlName="startDate" id="startDate">
          </div>
        </div>
        <div class="d-none d-md-block d-lg-none mt-3">
          <div class="form-row">
                <label class="col-form-label mr-3">End Date: </label>
                <input type="date" class="form-control col w-25" formControlName="endDate" id="endDate">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-block d-md-none">
    <div class="row mb-3">
      <div class="col">
        <div class="form-row">
          <label class="col-form-label col-2 mr-3">Task:</label>
          <input type="text" class="form-control col" formControlName="taskName" id="taskName">
        </div>
        <div class="form-row mt-3">
          <label class="col-form-label col-2 mr-3">Parent task:</label>
          <input type="text" class="form-control col" formControlName="parentTaskName" id="parentTaskName">
        </div>
        <div class="form-row">
          <label class="col-form-label col-2 mr-3">Priority From:</label>
          <input type="number" class="form-control col" formControlName="priorityFrom" id="priorityFrom">
          <label class="col-form-label col-2 mr-3">Priority To:</label>
          <input type="number" class="form-control col" formControlName="priorityTo" id="priorityTo">
        </div>
        <div class="form-row">
          <label class="col-form-label col-2 mr-3">Start Date:</label>
          <input type="date" class="form-control col w-25" formControlName="startDate" id="startDate">
        </div>
        <div class="form-row">
            <label class="col-form-label col-2 mr-3">End Date: </label>
            <input type="date" class="form-control col w-25" formControlName="endDate" id="endDate">
        </div>
      </div>
    </div>
  </div>
</form>