
nav a {
  color: black;
}
nav a:hover {
  text-decoration: none;
}

nav a.active {
  color: #039be5;
  font-weight: bold;
}

.toast-success {
  background-color: darkcyan !important;
}

.toast-error {
  background-color: firebrick !important;
}