
nav a {
  color: black;
}
nav a:hover {
  text-decoration: none;
}

nav a.active {
  color: #039be5;
  font-weight: bold;
}

.toast-success {
  background-color: darkcyan !important;
}

.toast-error {
  background-color: firebrick !important;
}

.border-top-solid {
  border-top: 2px solid;
}

.border-bottom-dotted {
  border-bottom-style: dotted !important;
}

.btn-group>.btn {
  border-radius: 0 !important;
  margin-right: 1rem !important;
}